fastapi[standard]
jinja2
libtorrent
yt-dlp
aiofiles
aiosqlite
sqlalchemy[asyncio]
asyncpg
aiomysql
greenlet
aria2p
APScheduler>=3.10.0
pydantic-settings
httpx[http2]
python-multipart
slowapi
prometheus-fastapi-instrumentator
itsdangerous
psutil
humanize
validators
